@import url('https://fonts.googleapis.com/css?family=Merienda');
@import url('https://fonts.googleapis.com/css?family=Oregano:400,400i');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Cabin');
@import url('fonts/Butler_Regular.otf');
@import url('https://fonts.googleapis.com/css?family=Lato');

@font-face{
    font-family: "butlerregular";
    src : url('fonts/Butler_Regular.otf');
}

@font-face {
    font-family: 'Merienda', cursive;
    src: url('https://fonts.googleapis.com/css?family=Merienda');
}
@font-face {
    font-family: 'Oregano', cursive;
    src: url('https://fonts.googleapis.com/css?family=Oregano:400,400i');
}

@font-face{
    font-family: "Playfair Display", serif;
    src :url ("https://fonts.googleapis.com/css?family=Playfair+Display");
}
@font-face{
    font-family:'Quicksand', sans-serif ;
    src:url("https://fonts.googleapis.com/css?family=Quicksand");
}

@font-face{
    src:url('https://fonts.googleapis.com/css?family=Cabin');
    font-family: "Cabin",sans-serif;
}

@font-face{
    src:url('https://fonts.googleapis.com/css?family=Lato');
    font-family: 'Lato', serif;
}

/*0------- POLICIES ------------*/

body p {
    font-family: 'Cabin';
}


h1,
h2,
header .navbar-brand,
#header-ban .card-text .date,
#header-ban .card-text .slogan {
    font-family: 'Lato'; 
}




/* --------- GLOBAL -------------- */

body{
    background-color: #35165c;
    background-image: url("https://www.transparenttextures.com/patterns/gray-lines.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

/* FOR CONTAINER */
.container { 
    max-width: 1200px;
    padding: 0;
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,30%);
    background-color:white;
}

/* FOR CONTAINER-FLUID */

body .container-fluid { 
    padding: 0;
}

body p {
    font-size: 16px;
}

h1 {
    font-size: 45px;
    padding-bottom: 30px;
}

h2 {
    font-size: 30px;
    padding-top: 35px;
    padding-bottom: 35px;
}

section {
    padding-top: 100px; 
    padding-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

section:nth-child(odd){
    /* background-color: rgba(0,0,0,10%); */
    background-color: rgba(92, 1, 212, 0.25);
    background-image: url("https://www.transparenttextures.com/patterns/gray-lines.png");
}

section:nth-child(even){
    /* background-color: rgba(0,0,0,15%); */
    background-color: rgba(92, 1, 212, 0.3);
    background-image: url("https://www.transparenttextures.com/patterns/gray-lines.png");
}

/* NAVBAR */

 header #navbar {
    background-color: rgba(0,0,0,85%);
    position: fixed;
    z-index: 50;
    top: 0;
    width:100%;
}

header .navbar-brand {
    font-weight: 900;
    font-size: 20pt;
}

header .navbar ul {
    align-items: flex-end;
}
.nav-link:focus{
    font-weight:bold;
    font-size:8em;
}

/* ------HEADER BANNIERE ----- */


#header-ban {
    /* background-color: rgb(61, 18, 110);  */
    background: radial-gradient(#54017a, #000000);
    padding: 0;
}

#header-ban .card-img-top {
    opacity: 0.3;
}

#header-ban .card-img-overlay {
    color: white;
    
}

#header-ban .card-text .date,
#header-ban .card-text .slogan {
    position: absolute;
    font-weight: 900;
    left: 15%;
    line-height: 1.2;
}

#header-ban .card-text .date {
    top: 35%;
    font-size: 70px;
    background-image: linear-gradient(rgba(247, 63, 201, 0.541) 50%,rgba(247, 63, 201, 0.575) 0);
    background-repeat: repeat-x;
    background-position: 0 70px;
    background-size: 4px 4px; 
}

#header-ban .card-text .slogan {
    top: 45%;
    font-size: 50px;
    
}

.display-4{
    padding-top: 0px; /*(haute)*/
    margin-bottom: 80px;
}



/* PRESENTATION */

.jumbotron{
    background:none;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.citation{
    color:#1fa597;
    text-align:center;
    font-style: italic;
    padding-top: 20px;
}

#lead-bottom{
    padding-top: 80px;
}

.photoWarning{
    width: 5%;
    height: 5%;
}


/* ARTICLE */


#article .card {
    padding: 15px;
}

#article .card-title {
    height: 75px;
}

.pic-legend {
    padding-top: 30px;
}

.signature {
    padding-top: 20px;
    padding-right: 50px;
}

.signature img {
    max-width: 100px;
}

.signature h6 {
    margin-top: 18%;
}

/* CAROUSEL */

#carousel .carousel-caption {
    background-color: rgba(0,0,0,50%);
    border-radius: 10px;
}

/* ARTICLE */
.avatararticle2 img{
    border-radius: 50%;
}

.entetearticle{
    height : 225px;
}

.bloc-article{
    height:325px;
    max-height: 325px;
}

.bloc-article >p{
    height : 50%;
}
.card-body{
    padding-top : 15%;
    height : 80%;
}
.card-body p {
    overflow: hidden;
}

.fas{
    color:purple;
    font-size:1.5em;
}
.fas:hover{
    color:purple;
}

/* FORMULAIRE */

iframe{
	width:100%;
    height:407px;
    border: 0px;
    background:white;
    padding:2%;
    border-radius:2%;
}
form{
    padding:5%;
    border-radius:2%;
    width:auto;
    background:white;
}
/* FOOTER */

footer{
    background-color: rgba(0,0,0,70%);
    color: white;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

footer p {
    font-weight: bold;
}

footer .coeur {
    font-size: 30px;
    color: crimson;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: -10px;
}

@media (max-width:990px) and (min-width: 768px) {

.bloc-article{
    height : 400px;
}
.bloc-article >p{
    height : 50%;
}

}



@media screen and (max-width:767px){
    
    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 25px;
    }
    
    .img-fluid{
		display:none;
	}
	.pres{
		font-size:2.5em;
    }
    
    header .card-text .date,
    header .card-text .slogan {
        font-size: 35px;
    }

    header .card-text .date {
        position: absolute;
        top: 30%;
        text-align: center;
    }
    
    header .card-text .slogan {
        position: absolute;
        top: 55%;
        left: 10%;
    }

    header .navbar-brand {
        font-size: 20px;
    }

    header .navbar-brand img{
        width: 30px;
        height: 30px;
    }
    .entetearticle{
        height : 175px;
    }

    .bloc-article{
        height:380px;
        padding-bottom: 0;
    }

}

@media screen and (max-width:577px){

    header .card-text .date,
    header .card-text .slogan {
        font-size: 30px;
    }
    .entetearticle{
        height : 175px;
    }

    .bloc-article{
        height:350px;
        padding-bottom: 0;
    }


}