@import url('https://fonts.googleapis.com/css?family=Merienda');
@import url('https://fonts.googleapis.com/css?family=Oregano:400,400i');

@font-face {
    font-family: 'Merienda', cursive;
    src: url('https://fonts.googleapis.com/css?family=Merienda');
}
@font-face {
    font-family: 'Oregano', cursive;
    src: url('https://fonts.googleapis.com/css?family=Oregano:400,400i');
}

body .container {
    max-width: 1200px;
    padding: 0;
}

body p {
    font-family: 'Merienda';
    font-size: 16px;
}

h1 {
    font-family: 'Merienda';
    font-size: 40px;
    padding-bottom: 100px;
}

h2 {
    font-family: 'Merienda';
    font-size: 30px;
    padding-top: 35px;
    padding-bottom: 35px;
}

section {
    padding-top: 100px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
}

/* NAVBAR */

header #navbar {
    background-color: rgba(0,0,0,70%);
    position: fixed;
    z-index: 50;
    top: 0;
    width:100%;
    max-width: 1200px;
}

header a {
    font-family: 'Merienda';
}

header .navbar-brand {
    font-family: 'Oregano';
    font-size: 25pt;
}

/* HEADER */

header .navbar ul {
    align-items: flex-end;
}

/* HEADER */


header .card {
    background-color: rgb(141, 0, 99);
}

header .card .card-img-top {
    opacity: 0.4;
}

header .card .card-img-overlay {
    color: white;
    font-size: 30px;
}

header .card-text .date,
header .card-text .slogan {
    font-family: 'Oregano';
    font-size: 40px;
}

header .card-text .date {
    position: absolute;
    top: 40%;
    left: 10%;
}
.display-4{
    padding-top: 0px; /*(haute)*/
    margin-bottom: 80px;
    font-family : serif; /* style font titre*/

}

header .card-text .slogan {
    position: absolute;
    top: 40%;
    left: 60%;
}
/* PRESENTATION */

.jumbotron{
    background:none;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.citation{
    color:#1fa597;
    text-align:center;
}

#lead-bottom{
    padding-top: 80px;
}

.photoWarning{
    width: 5%;
    height: 5%;
}

/* FORMULAIRE */

iframe{
	width:100%;
    height:400px;
    border: 0px;
}

/* ARTICLE */
/* FOOTER */

footer{
    background-color: rgba(0,0,0,70%);
    color: white;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

footer p {
    font-weight: bold;
}

footer .coeur {
    font-size: 30px;
    color: crimson;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: -10px;
}

@media screen and (max-width:767px){
    
    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 25px;
    }
    
    .img-fluid{
		display:none;
	}
	.pres{
		font-size:2.5em;
    }
    
    header .card-text .date,
    header .card-text .slogan {
        font-size: 35px;
    }

    header .card-text .date {
        position: absolute;
        top: 30%;
        text-align: center;
    }
    
    header .card-text .slogan {
        position: absolute;
        top: 55%;
        left: 10%;
    }

    header .navbar-brand {
        font-size: 20px;
    }

    header .navbar-brand img{
        width: 30px;
        height: 30px;
    }
}

@media screen and (max-width:577px){

    header .card-text .date,
    header .card-text .slogan {
        font-size: 30px;
    }

}