body .container {
    max-width: 1200px;
    padding: 0;
}

.card {
    background-color: rgba(0,0,0,100%);
}

.card .card-img-top {
    opacity: 0.7;
}

.card .card-img-overlay {
    color: white;
    top: 40%;
    left: 10%;
    font-size: 30px;
}

.navbar ul {
    align-items: flex-end;
}

footer{
    background-color: rgba(0,0,0,80%);
    color: white;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

footer p {
    font-weight: bold;
}

footer .coeur {
    font-size: 30px;
    color: crimson;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: -10px;
}
